body {
  font-family: 'Raleway', sans-serif;
  width: 98%;
  margin: auto;
  min-width: 320px;
  max-width: 1440px;
  background: black;
}

a {
  text-decoration: none;
}

/* Début Header */
header {
width: 100%;
min-height: 50px;
max-height: 100px;
display: flex;
justify-content: center;
}

img.logo {
  min-width: 50px;
  max-height: 50px;
  background-color: rgb(245, 134, 30);
}

#logo {
 display: inline-block;
 height: 50px;
} 


nav {
  background-color: rgb(184, 184, 184);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: end;
}

  .accomodation {
    background-color: chartreuse;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    padding: 18px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }

  .activity {
    background-color: rgb(250, 135, 240);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 18px;
  }
/* Fin Header */


/* Début du Main */
  /* Titre */

main {
    width: auto;
    background-color: rgb(205, 207, 67);
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .search {
    width: 100%;
    margin: auto;
  }
      
  .search-header {
    flex-direction: column;
  }
 
  .title-h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* Research Box */
    /* debut du container */
  .research-box { 
    width: 100%;
    margin-top: 15px;
    display: flex;
  }

  .box-location {
    display: inline;
    background-color: #F2F2F2;
    border-radius: 14px 14px 14px 14px;
    align-items: center;
  }

  i { 
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }

  input { 
    max-width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    block-size: 32px;
  }

    .fa-search {
      max-width: 100%;
      padding: 16px;
      color: white;
      background-color: #0065FC;
      border-radius: 12px 12px 12px 12px;
      font-size: 16px;
    }

  /* Début du Filtre */

    .filters h3 {
      margin-top: 20px;
      font-size: 24px;
      display: inline;
    }

    .filters ul {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin-top: 20px;
    }
    
    .filters ul li {
      display: inline;
      margin-left: 25px;
      font-weight: 700;
      border: solid 2px #e2e2e2;
      padding: 0 20px 0 0;
      margin-top: 10px;
      border-radius: 200px;
    }
    
    .icon-filter {
      background-color: #DEEBFF;
      color: #0065fc;
      padding: 18px;
      font-size: 20px;
      border-radius: 200px;
      margin-right: 15px;
    }

      .info .fas {
        color: #0065fc;
        font-size: 16px;
        padding: 7px 11px 7px 11px;
        border: solid 1px #D9D9D9;
        border-radius: 2000px;
        margin-right: 20px;
      }
  
      .info p {
        display: inline;
      }

      .info {
        margin-top: 20px;
      }
  /*************************************************************************/
  /* Début de la Section des Cards */

  section.hosting-blocs {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid grey;
    break-inside: auto;
  }

  .title-h2 {
    max-width: 100%;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
  }

  .containerarticle {
    max-width: 100%;
    max-height: 250px;
    border: 2px solid black;
    display: flex;
  }

  .asidemain-blocs {
    border: 2px solid black;
    max-width: 30%; 
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  

  
  /* Début des Cards */

  .hostingmaincard {
    width: 220px;
    padding: 4px;
    box-shadow: 2px 2px 15px grey;
    border-radius: 25px;
    margin: 25px;
    margin-top: 10px;
    background-color: white;
  }

    .hostingimgcard {
      max-width: 100%;
      border-radius: 25px;
    }

    #img-card {
      width: 100%;
      max-height: 120px;
      border-radius: 25px 25px 0px 0px;
      object-fit: cover;
    }

    /* Paragraphe */

      p.infocard {
        max-width: 100%;
        margin-left: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
      }

  /* Icons */

  .icon-star {
    margin-left: 10px;
    margin-top: 6px;
    font-size: 14px;
  }

  .fa-sm {
    padding: 0;
    margin-bottom: 10px;
    color: #0065FC;
  }

  #greystar {
    color: #CCCCCC;
  }

/****** Fin des Cards et de la section ******/