@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: 'Raleway', sans-serif;
  width: 98%;
  margin: auto;
  min-width: 320px;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: black;
}

b {
  font-weight: initial;
}

/* Début Header */
header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.logonav {
  width: 50%;
}

.logo {
  max-height: 50px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: end;
  width: 100%;
}

.activity {
  margin-top: 1px;
}

.accomodation, .activity {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  padding: 18px;
  width: 23%;
  display: flex;
  justify-content: center;
}
/* Fin Header */

/* Début du Main */
main {
    width: 95%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: auto;
  }

  /* Research */

  .search {
    width: 100%;
    margin: 0;
  }
      
  .search-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .search-title-h1 {
    width: 100%;
  }
 
  .title-h1 {
    font-weight: bold;
    width: 95%;
    display: flex;
    margin: 30px 0px 10px 20px;
    font-size: 24px;
  }

  .subtitle {
    margin-top: 5px;
    padding-bottom: 5px;
    float: left;
  }

  /* Research Box */
  
  .research-box { 
    display: flex;
    margin-bottom: 20px;
  }

    i { 
      padding: 15px;
      font-size: 18px;
    }

    input { 
      padding: 6px 2px 6px 15px;
      border: none;
      font-weight: 700;
      font-size: 16px;
      block-size: 32px;
      width: 280px;
    }

  .box-location {
    background-color: #F2F2F2;
    border-radius: 14px 14px 14px 14px;
    align-items: center;
    margin-right: -50px;
    display: flex;
  }

    .fa-search {
      padding: 16px;
      color: white;
      background-color: #0065FC;
      border-radius: 12px 12px 12px 12px;
      font-size: 16px;
      visibility: hidden;
    }

    .searchbutton {
      padding: 14.5px;
      color: white;
      background-color: #0065FC;
      border-radius: 0px 12px 12px 0px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      float: left;
    }

  /* Début du Filtre */

    h3 {
      font-size: 24px;
      display: inline;
    }

    .filters div {
      display: inline-flex;
      flex-wrap: wrap;
    }
    
    .filters div .filters-button {
      font-family: 'Raleway', sans-serif;
      align-items: center;
      margin: 10px 0px 0px 25px;
      font-weight: 700;
      font-size: 20px;
      border: solid 2px #e2e2e2;
      padding: 0 20px 0 0;
      border-radius: 200px;
      background-color: white;
      cursor: pointer;
      color: black;
    }
    
    .icon-filter {
      background-color: #e6effd;
      color: #0065fc;
      padding: 18px;
      font-size: 20px;
      border-radius: 200px;
      margin: 0px 10px 0px -1px;
    }

      .info .fas {
        color: #0065fc;
        padding: 7px 11px 7px 11px;
        border: solid 1px #D9D9D9;
        border-radius: 2000px;
        margin: 20px 10px 0px 0px;
      }
  
      .info p {
        display: inline;
      }

  /* Début de la Section des Cards */

  section.hosting-blocs {
    margin-top: 20px;
    display: flex;
  }

  .title-h2 {
    width: 100%;
    height: 80px;
    margin: 0px 10px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #host {
    margin-left: 30px;
  }

    #h2aside {
      height: 80px;
    }

  .iconstitle #iconstitle {
    display: flex;
    justify-content: end;
    font-size: 26px;
    width: 90px;
  }

  .containerarticle {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* Début des Cards */

  article {
    width: 240px;
    padding: 4px;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(199, 199, 199);
    border-radius: 25px;
    margin: 20px 0px 20px 0px;
  }

  .cardanimationhost {
    margin-bottom: -6px;
  }

    figure {
      margin: 0;
      height: auto;
    }

    .img-card {
      width: 100%;
      height: 120px;
      border-radius: 25px 25px 0px 0px;
      object-fit: cover;
    }

    .infocard {
      margin-left: 10px;
    }

    p.infocardtext {
      margin-left: 10px;
      margin-bottom: 20px;
      margin-top: 5px;
      font-size: 16px;
    }

    .titleinfocard {
      font-size: 18px;
    }

    /** Populary Cards aside **/

    aside {
      border-radius: 20px;
      width: 45%; 
      margin-left: 40px;
    }
    
    .asidemaincard {
      width: 100%;
      height: 130px;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: -20px;
      display: flex;
      flex-grow: 1;
    }
  
    /* Images aside */
      .asideimgcard {
        display: flex;
        flex-wrap: wrap;
      }
  
      .aside-img-card {
        width: 120px;
        max-height: 100%;
        border-radius: 20px 0px 0px 20px;
        object-fit: cover;
      }

      .blocasideimgcard {
        padding-right: 25px;
        padding-left: 15px;
      }

    /* Paragraphe */

    a.more {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      padding: 5px 0px 45px 45px;
    }

    /* Paragraphe aside */  

    .asideinfocard {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .asideinfocardtext {
      margin: 0;
      font-size: 16px;
    }

    .asidewhitediv {
      height: 45px;
    }

  /* Icons */

  .icon-star {
    margin-left: 10px;
    font-size: 14px;
    padding-bottom: 5px;
  }

  .fa-sm {
    padding: 0;
    margin-bottom: 10px;
    color: #0065FC;
  }

  .greystar {
    color: #CCCCCC;
  }
  
    /* Icons aside */  

    .aside-icon-star {     
      font-size: 14px;
    }
/****** Fin des Cards et de la section Hosting ******/

/* Début des Activités */
.activitycontainer {
  display: flex;
  padding-bottom: 20px;
}

/* Card 1 & 4 */
.articleactivity, .articleactivity2, .articleactivity3, 
.articleactivity5,  .articleactivity6 {
  background-color: white;
  padding: 0;
  width: 320px;
}

.articleactivity {
  margin-right: 20px;
  margin-left: 10px;
}
.activity-img-card { 
  height: 450px;
}

  .activity-img-card, .activity-img-card2, .activity-img-card3, 
  .activity-img-card5, .activity-img-card6 {
    object-fit: cover;
    width: 100%; 
    border-radius: 19px 19px 0px 0px;
  }

  h3.p-activity {
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
  }

/* Container Card 2-3 / 5-6 */ 

.containercard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 10px;
}

/* Card 2 */
.articleactivity2 {
  height: 280px;
}
.activity-img-card2 {
  height: 220px;
}

/* Card 3 */ 
.articleactivity3 {
  height: 180px;
}
.activity-img-card3 {
  height: 120px;
}

/* Card 5 */
.articleactivity5 {
  height: 220px;
}
.activity-img-card5 {
  height: 160px;
}

/* Card 6 */
.articleactivity6 {
  height: 240px;
}
.activity-img-card6 {
  height: 180px;
}

/****** Début du Footer ******/

footer {
  height: auto;
  background-color: #F2F2F2;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.wrapfootercontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
}

.footercontainer {
  flex-grow: 1;
}

a.footertitle {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 5px 0px;
}
